@charset "utf-8";
/* CSS Document */


.tab_repay .i_upBody{width:300px;}

.tab_repay .i_upCenter .i_note{width:272px;}
.tab_repay .i_upCenter{width:318px;}
.tab_repay{width:322px;}

.tab_repay .i_upBottom {width:322px;}
.tab_repay .i_upBottom .i_upBottomCenter{width:310px;}
