.emptyBody {
    width: 100%;
}

.emptyInfo a {
    color: #0076D3;
}

.emptyInfo a:hover {
    color: #FF5E04;
    text-decoration: underline;
}

.emptyBody h2 {
    color: #5F5F5F;
    font-family: "微软雅黑", "黑体", Arial;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 10px;
}

.emptyInfo {
    background: url("../images/shoppingcar.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #515151;
    font-size: 14px;
    height: 115px;
    line-height: 25px;
    margin-top: 20px;
    padding-left: 115px;
    width: 100%;
}

.emptyInfo h3 {
    color: #000000;
    font-size: 20px;
    line-height: 25px;
}

.empty_tit {
    color: #515151;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.tablePage {
    border-bottom: 1px solid #CCCCCC;
    float: left;
    font-family: "宋体";
    margin-bottom: 10px;
    width: 100%;
}

.tablePage .normal_btn {
    background: url("../images/hover_btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #006ECA;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 28px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    width: 108px;
}

.tablePage .hover_btn {
    background: url("../images/normal_btn.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FF6600;
    font-weight: bold;
}

.tablePage .normal_btn:hover {
    color: #FF6600;
}

.hide{
    display: none;
}

.content {

}

.content p {
    color: #515151;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.content .item {
    width: 230px;
    height: 80px;
    padding: 10px 10px 10px 0px;
    margin-right: 6px;
    margin-bottom: 10px;
    display: inline-block;
}

.content .item div {
    display: inline-block;
}

.content .item .imgContainer {
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    z-index: 1;
}

.content .item .imgContainer img {
    width: 79px;
    height: 79px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.content .item .imgContainer .promotionsing {
    position: absolute;
    z-index: 2;
    background: url("../images/common/tips/tip_note_delivery.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 22px;
    line-height: 18px;
    text-align: center;
    width: 57px;
    top: 50px;
    left: -9px;
    color: #FFFFFF;
}

.content .item .imgContainer .hasBargain{
    background: url("../images/common/tips/tip_note_special_offers.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.content .item .infoContainer {
    float: left;
    width: 145px;
    height: 50px;
    padding-left: 5px;
}

.content .item .infoContainer .info {
    width: 100%;
    height: 60px;
}

.content .item .infoContainer .info span {
    color: #000;
    line-height: 20px;
    cursor: pointer;
}

.content .item .infoContainer .info span:hover {
    text-decoration: underline;
    color: #FF6600;
}

.content .item .infoContainer .price {
    text-align: left;
    width: 100%;
    height: 20px;
    color: #FF6600;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}
