#tb_tui td a.reviews {
  background: url("../images/chkBtn.png") no-repeat scroll 0 0 transparent;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 21px;
  line-height: 22px;
  /*margin: 5px 5px 0 0;*/
  text-align: center;
  width: 52px;
}

 .addCommentClass {
    background: url("../images/btnBuy_star.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    line-height: 22px;
    text-align: center;
    width: 64px;
}



.alertScore {
    float: right;
    position: relative;
    width: 200px;
}
.alertScore .alertInfo{ float:left; width:180px;}
.alertScore .arrowLeft{ background:url(../images/ti_topLeft.png) no-repeat; width:7px; height:6px; display:inline-block; float:left; margin:20px -2px 0px 0px; position:relative; z-index:2;}
.alertScore .big_Star{ background:url(../images/stars.png) no-repeat 0px -32px; width:75px; height:14px; display:block; cursor:pointer; margin-top:3px;}
.alertScore .yellow_Star{ background:url(../images/common/rate/light_yellow_star.png) no-repeat 0px -77px; width:91px; height:17px; display:block; cursor:pointer; margin-top:3px;}
.alertScore .alertTop{ background:url(../images/alertTop_top.png) no-repeat; width:180px; height:8px; float:left;}
.alertScore .alertBody{ background:url(../images/alertBody.png) repeat-y; width:170px; height:100%; float:left; padding:5px; line-height:18px;}
.alertScore .alertBottom{ background:url(../images/alertBottom.png) no-repeat; width:180px; height:4px; float:left;}
.alertScore .hand{ background:url(../images/hand.png) no-repeat; width:22px; height:29px; display:block; margin-left:43px;}

.danju .connect {
    background: url("../images/link.png") no-repeat scroll -58px 0 transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin-left: 3px;
    padding-left: 2px;
    text-align: center;
    width: 35px;
}
.danju.connect:hover {
    background: url("../images/link.png") no-repeat scroll -58px -19px transparent;
    height: 18px;
}