@charset "utf-8";
/* CSS Document */
table tr td{color:#666; font-size:12px; font-weight:bold;}
.i_clientInfo .i_upCenter .i_note{ background:none;}
 .table3 input.btn{color:#999; letter-spacing:4px;}