@charset "utf-8";
/* CSS Document */
/*内容部分*/
.print_cont{ clear:both;width:740px; margin:0 auto; color:#000; }
.print_cont h3{font-size:25px;margin-top: 16px; font-weight:bold; text-align:center;}
/*第一部分*/
.i_searchTitle{
	float:left;
	font-weight:bold;
	color:#000000;
	width:1003px;
}
.i_searchTitle label{font-size:18px; display:block; float:left;margin-top:10px;}
.i_searchTitle  .receipt{width:600px;_width:630px;}

/*第一部分结束*/

/*第二部分*/
.print_info .fonty{ letter-spacing:8px;}
.print_info dl{ float:left; margin-top:10px;}
.print_info dl dt{font-size:14px;font-weight:bold; margin-bottom:5px;}
.print_info dl dd{ clear:both; margin-bottom:5px; height:15px;_width:350px;}
.print_info dl dd label,.print_info dl dd span{ display:block; width:64px;float:left;color:#666666; font-weight:bold;}
.print_info dl dd span{width:212px;}



/*车辆信息*/
.print_info .car_info dd span{width:250px;_width:230px;}

/*车辆信息结束*/
/*车主信息*/
.print_info  .car_user span{width:280px;_width:280px;}
/*车主信息结束*/
/*车辆进厂交接*/
.print_info .car_transition dd{width:300px;}
.print_info .car_transition dd label{width:80px;}

/*车辆进厂交接结束*/

/*第二部分结束*/

/*施工单*/
.work_order{width:1003px; margin-bottom:10px;}
.print_top img{ width:6px; height:32px; display:block; float:left;}
.print_top .order_info{ width:991px; height:32px; float:left; line-height:32px;color:#000;}
.print_top .order_info span{ direction:block; float:left;}

.work_order .table2 tr,.work_order .table2 tr td{ boder:none;color:#666666; height:20px; line-height:20px;}
.work_order .table2 .table_title  td{color:#000;}
.table2 tr td{font-size:14px;}
/*施工单结束*/

/*材料单号*/
/*材料单号结束*/

/*维修费用结算*/
/*维修费用结算结束*/

/*第六部分*/
.signature{ float:right;}
.signature div{clear:both; float:right; margin-bottom:35px;}
.signature div label{ font-size:14px;color:#1d1d1d;font-weight:bold; margin:0px 115px 0px 0px;}
.signature div .btnShow{color:#7e7e7e;font-weight:bold;font-size:14px; margin-right:25px; background:url(../images/button.jpg) no-repeat; width:93px; height:37px; border:0px;}
/*第六部分结束*/
/*内容部分结束*/

/*采购打印单*/
.pruch_use{ height:20px;margin-bottom:5px;font-weight:bold;}
.pruch{ margin-bottom:5px;}
.pruch_use label,.pruch_use span{ display:block; float:left;color:#7e7e7e;font-size:14px;}
.pruch_use span{width:100px;}

.pruch_use .address_show{width:250px; }
.pruch .receipt{width:700px;}
.qianzi{ float:right; width:1000px;clear:both;font-weight:bold;  font-size:12px; text-align:left; line-height:20px;}
.qianzi div{ float:left;width:185px;*width:190px;}
.qianzi  .kehu{ margin-right:590px; font-weight:bold; font-size:14px;}
.kehu{ margin-right:590px; font-weight:bold; font-size:14px;}
.qianzi span{ display:block; width:150px;}
.qianzi label{ margin-right:20px;}
.qianzi .print_num{ display:block; width:200px;float:left; }
.heji{clear:both;padding-top:5px;*padding-top:5px; padding-bottom:10px;}
.address{font-family:normal;font-weight:normal; font-size:18px;}
/*采购打印单结束*/

.pruch_tab tr td{color:#7e7e7e;font-size:14px;}
.pruch_use lable{width:80px;}
.pruch_use span{width:150px;}


.right{
		float:right; 
		padding-right:20px;
}

.i_searchTitle .zhidan{ float:right; margin-right:8px; font-size:12px; margin-top:15px; }

.bodyMain .table2{width:740px;}
.i_searchTitle .qi_kuan{width:415px;text-align:right;}