.jiajia{width:30px; height:14px; margin:0px 5px;}
.tab_modify{width:200;}
.tab_modify .i_upCenter .i_note{width:80px;}
.tab_modify .i_upCenter{width:130px;}
.tab_modify .i_upBody{width:112px; clear:both;}
.tab_modify .i_upBottom .i_upBottomCenter{width:122px;}

.tab_modify .i_upCenter_unit{width:200px;}
.tab_modify .i_upBody_unit {width:182px; clear:both;}
