@charset "utf-8";
/* CSS Document */

.new_sale .setlab{
	margin:10px 0px 0px 5px;
	line-height:19px;
}
.new_sale .setCommission{
	margin-left:7px;
	float:left;
}
.new_sale .setShow{
	background:url(../images/setAlert.png);
	color:#fff;
}

.new_sale .lack{
	background:url(../images/noteBtn2.png) no-repeat;
	width:81px;
	height:20px;
	line-height:20px;
	margin-top:7px;
}
.stock_txtName .stock_txtBody {
	width:65px;
}
.setCommission{
	background:url(../images/setBtn.png);
	color:#6699cc;
}

#table_productNo{
	position:relative;
	z-index:1;
	color:#272727;
}
#table_productNo .stockSearchSolrProduct{
	background:#FFFFFF;
}
.table2 tr .gui_lei:hover,.table2 tr .shop_lei:hover{
	background:none;
}
.table2 tr .gui_lei span,.table2 tr .shop_lei span{
	display: none;
}

.table2 tr .gui_lei:hover span,.table2 tr .shop_lei:hover span{
	/*span 标签仅在 :hover 状态时显示*/
display:block;
	position:absolute;
	top:25px;
	right:80px;
	width:100px;
	border:1px solid #6699cc;
	background-color:#fff;
	padding: 3px;
	color:#6699cc;
}
.table2 tr .shop_lei:hover span{
	right:0px;
}

.tableRowHover{
	background:#FCEBA9;
	color:#ff4800;
}


/*stockSearch.jsp 库存查询*/
.stockSearch .distance{
	margin-top: 0;
}

.stockSearch .distance .new_sale {
	background: url(../images/center_tui.png) repeat-y;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px 0px 15px;
	margin-top: 0;
}
.stockSearch .new_sale{
	height: 30px;
	line-height: 30px;
	padding: 5px 10px 3px 15px;
	background: url(../images/center_tui.png) repeat-y;
	margin-top: 0;
}
.stockSearch .qian_blue{
	color: #0094FF;
}
.stockSearch input.stock_text{
	border: 1px solid #ADADAD;
	background: #FFFFFF;
	padding-left: 2px;
	margin:0 15px 0 0;
	color: #ADADAD;
	height: 19px;
	line-height: 21px;
	display: block;
	float: left;
}
.stockSearch .stock_txtName {
    margin-top: -3px;
    padding: 0;
}

.stockSearch .stock_txtName input.stock_search {
    background: url("../images/chkNormal.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 21px;
    width: 70px;
}

.stockSearch .stock_txtName input.stock_search:hover {
    background: url("../images/chkNormal.png") no-repeat scroll 0 -29px transparent;
    border: medium none;
    cursor: pointer;
    height: 21px;
    width: 70px;
}
.stockSearch .stock_txtName input.btn_clear {
    background: url("../images/chkNormall.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    height: 21px;
    line-height: 24px;
    padding-bottom: 0;
    padding-left: 0;
    width: 65px;
}
.stockSearch .stock_txtName input.btn_clear:hover {
    background: url("../images/chkHoverr.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #663A02;
    cursor: pointer;
    height: 21px;
    width: 65px;
}


.stockSearch .table_title{
	background: url(../images/title_tbcenter.png) repeat-x;
	color: white;
	text-align: center;
}
.stockSearch #sata_tab,#table_productNo{
	border: 1px solid #C9C6C6;
}
.stockSearch .table2 td,.stockSearch .table2 th{
	text-align:left;
	padding-left: 10px;
	height: 28px;
	cursor: pointer;

    /*white-space:nowrap;*/
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
}
.stockSearch .table2 tr.table_title td {
	text-align:left;
	padding-left: 6px;
	color:#FFFFFF;
	font-weight:bold;
}
.stockSearch .table2 a{
	color: #0094FF;
}
.stockSearch .over{
	background: url(../images/setMoneyt.png) no-repeat;
	width:59px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: white;
	border: none;
	font-size: 12px;
	cursor: pointer;
}

.stockSearch .over:hover {
  background: url(../images/hover_setMoneyt.png) no-repeat;
  color:#663A02;
}

.stockSearch .txt_one_unit,.stockSearch .txt_one_money{
	width:35px;
	height:19px;
	border: 1px solid #ADADAD;
	text-align:left;
}
.stockSearch .txt_one_money{
	width:55px;
	margin-left:-6px;
}

/**/
.stockSearch .main_area{
	width:1000px;
	position:relative;
}
.stockSearch .sub_area{
	width:460px;
	margin:0 auto;
	position:absolute;
	top:0;
	left:463px;
	overflow:hidden;
	z-index:0;
}
.stockSearch .table_set_float{
	background: #ffffff;
	border-top:1px solid #ADADAD;
	border-bottom: 1px solid #BBBBBB;
	width:460px;
	position:relative;
	top:0;
	left:460px;
	color:#787878;
}
.stockSearch .table_set_float .input_text{
	width:50px;
	height:20px;
	border:1px solid #ADADAD;
}
.stockSearch .table_set_float .input_text_limit{
	width:20px;
	height:20px;
	border:1px solid #ADADAD;
}
.stockSearch .se_xiaoshou{
	background: url(../images/setMoneyt.png) no-repeat;
	width: 59px;
	height: 18px;
	text-align: center;
	line-height: 18px;
	color: white;
	border: none;
	font-size: 12px;
	cursor: pointer;
    margin-left: -6px;
}

.stockSearch .se_xiaoshou:hover {
  background: url(../images/hover_setMoneyt.png) no-repeat;
  color:#663A02;
}

.stockSearch .new_sale .lack{
	background: url(../images/quehuo.png) no-repeat;
	width: 64px;
	height: 21px;
	margin-top: 0;
	margin-left: 10px;
	line-height: 21px;
	font-size: 12px;
	color: #fd5300;
	font-weight: normal;
}
.stockSearch .new_sale .lack:hover {
    background: url(../images/hover_quehuo.png) no-repeat;
    color:#FFFFFF;
}

.stockSearch .left_tuihuo{
	display: block;
	clear: both;
	background: url(../images/right_tui.png) no-repeat;
	width: 1003px;
	height: 2px;
}
.stockSearch .right_tuihuo{
	background:url(../images/left_tui.png) no-repeat;
	width:1003px;
	height:3px;
	display:block;
}
/*#pop_info table{
	*/
	/*font-family:"宋体";
	*/
	/*background: #FDEBA9;
	*/
	/*color:#505050;
	*/
	/*font-weight:normal;
	*/
	/*width:1000px;
	*/
	/*height:120px;
	*/
	/*border: 1px solid #FFFFFF;
	*/
	/*box-shadow: 3px 3px 5px #666666;
	*/
	/*border-collapse:collapse;
	*/
/*;
}*/
/*.stockSearch input[type="checkbox"]{*/
	/*display:none;*/
/*}*/
.stockSearch .checkbox{
	display:block;
	width:13px;
	height:13px;
	cursor:pointer;
	background:url(../images/fxk.png) no-repeat;
}
.stockSearch .checkboxSelect{
	display:block;
	width:13px;
	height:13px;
	cursor:pointer;
	background:url(../images/fxk_checked.png) no-repeat;
}


.upInfo{
    background: none repeat scroll 0 0 #FDEBA9;
    border: 1px solid #FFFFFF;
    border-collapse: collapse;
    box-shadow: 3px 3px 5px #666666;
    color: #505050;
    font-family: "宋体";
    font-weight: normal;
	/*height: 200px;
	*/
    width: 1000px;
}


.upInfo .tabInfo tr td {
    height: 30px;
    text-align: right;
}


.tabInfo input.txt {
    width: 95%;
}

.upInfo input.txt {
    border: 1px solid #FFAA06;
    color: #515050;
    height: 20px;
    line-height: 20px;
    padding-left: 6px;
}


.upInfo .tabInfo .btnClick {
    text-align: left;
}

.upInfo .tabInfo .btnClick input, .divPrice input.btnClick {
    background: url("../images/btnNor.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FF4800;
    cursor: pointer;
    height: 21px;
    padding-bottom: 1px;
    text-align: center;
    width: 52px;
}

.upInfo .tabInfo .btnClick input:hover,.divPrice input.btnClick:hover{
	background:url(../images/btnHor.png) no-repeat;
	color:#FFFFFF;
}


.priceAdjust {
    float: left;
    margin-left: 70px;
}


.priceAdjust .leftPrice {
    background: url("../images/moneyleft.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    width: 3px;
}

.priceAdjust .bodyPrice {
    background: url("../images/moneyBg.png") repeat-x scroll 0 0 transparent;
    color: #FF4800;
    float: left;
    height: 64px;
    width: 650px;
}


.priceAdjust .rightPrice {
    background: url("../images/moneyRight.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    width: 2px;
}


.priceAdjust .bodyPrice label {
    font-size: 14px;
    line-height: 26px;
    padding-left: 8px;
}

.product-brand-span,.vehiclespec-vehiclemodel-span{
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.product-brand-span,.spec-model-span,.vehiclespec-vehiclemodel-span{
	width:80px;
}

.spec-model-span{
    word-wrap: break-word;
}

.cangku {
    background:#fbca88;
    float: left;
    height: 180px;
    margin: 30px 0 0 -110px;
    padding: 10px 0;
    width: 240px;
    overflow-y: auto;
}
.cangku .kucun {
    background: url("../images/cank_line.png") repeat-x scroll center bottom transparent;
    color: #515050;
    height: 25px;
    line-height: 25px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.tabInfo {
    float: left;
}

.tabInfo input.txt {
    width: 95%;
}

.cangku label {
    color: #FF4800;
    padding: 0 10px;
}

