@charset "utf-8";
/* CSS Document */
/*代理商基本信息*/
#agent_tb tr .agent_color{color:#000;}
#agent_tb tr td{ text-align:left; line-height:30px; height:30px;color:#666;}
#agent_tb{ margin:15px 0px 0px 45px;}
.goal{ margin:10px 0px 22px 45px;height:23px; color:#666;}
.goal label,.goal input,.goal span{ display:block; float:left; width:93px;}
.goal span{width:36px;padding-left:2px;}
.goal .jidu{width:100px;}
.goal .span_tao{width:63px;}
.goal  .year_lab{width:86px;}

.goal  .moth_goal{ margin-right:0px;}
.goal div input{ margin:0px 5px;border:1px solid #bebebe; background:#f5f5f5;width:70px; height:20px; line-height:20px}
.goal .year_tao{width:10px;}
/*代理商基本信息结束*/

/*业务员信息*/
.salesman{ height:30px;}

/*目标完成情况*/
.registerButton{ margin:50px 0px 0px 0px;}
.registerButton input { *letter-spacing:1em;}
#gogal_tb tr td{ font-weight:bold;}
#gogal_tb tr td input{width:50px; text-align:center;}
#agent_tb tr td input,.goal input{width:130px;}
.son_back tr td input{width:50px; text-align:center;}
