<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tonggou.gsm.andclient"
    android:installLocation="auto"
    android:versionCode="1049"
    android:versionName="1.2.2" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="240"
        android:resizeable="true"
        android:xlargeScreens="true" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- //取手机imei号需要 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- //网络状态getActiveNetworkInfo需要 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <!-- 友盟统计配置 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="533b7b6a56240b29f80bc58f" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="bcgogo" >
        </meta-data>

        <!-- baidu map -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <!-- // 正式的 KEY,正式发布时使用
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="gPUwumoWX1iHsAiGVWhjtYqq" /> -->

        <!-- // peter PC DEBUG-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="k9kt3yTxEuLFKOF84qoaISl6" />

        <activity
            android:name=".ui.LauncherActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.RegisterValidateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.GasStationMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.GasStationListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MapNavigationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.VehicleLocationMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ViolationQueryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ScanIMEICodeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.VehicleManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ForgotPwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DriveTrackAcivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DrivingTrackDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DrivingTrackPlaybackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.AppointmentActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".ui.QueryVideoActivity"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name=".ui.QueryVideoPlayActivity"
            android:screenOrientation="portrait">
        </activity>
          <activity
            android:name=".ui.MonitorPictureActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.RegisterValidateVehicleInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.DTCManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.PayListManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.PaymentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ShopDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MyDeviceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ModifyPwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.MessageManagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ShopNoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ShopNoticeDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ViolationQuerySettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ViolationAreaSelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.ViolationCitySelectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.VehicleDataStatisticActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.EditVehicleNoActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- service -->
        <service
            android:name=".service.PollingMessageService"
            android:stopWithTask="false" />
        <service
            android:name=".service.PollingVehicleLocationService"
            android:label="@string/desc_service_polling_vehicle_location"
            android:stopWithTask="false" >
            <intent-filter>
                <action android:name="com.tonggou.gsm.andclient.action.POLLING_VEHICLE_LOCATION_SERVICE" />
            </intent-filter>
        </service>

        <!-- umeng message server -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0647df455afc52d9d44245155b5b6e97" >
        </meta-data>
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tonggou.gsm.andclient.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.tonggou.gsm.andclient.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tonggou.gsm.andclient.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />

        <!-- test activities -->
        <activity
            android:name=".test.TestPullToRefreshActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".test.TestSimpleTitleBarActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".test.TestBMapActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".test.TestPollingMessageServiceActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>
</manifest>